
.company-wrapper{
  width:100%;
  height:1600px;
  padding-top: 120px;
}
.container{
  width:70%;
  height:1600px;
  margin:0 auto;
}
.container h2{
  text-align:center;
  margin-top:30px;
}
.president{

}
.president h3{
  text-align:center;
  margin-top:50px;
}
.president-detail{
  display: flex;
}
.president-detail img{
  width: 200px;
  height:200px;
}
/*.box-1x1:before {
  float: left;
  width: 200px;
  content: "";
  display: block;
}*/
.president-message{
  float: right;
}
.president-message p{
  padding-left:20px;
  margin-top:30px;
}
.clear{
  clear: left;
}
.company{
margin-top: 50px;
}
.company h3{
  text-align:center;
  margin-top:0px;
}

.company-detail{
  display: flex;
  display:block;
  width:100%;
  padding:10px 0;
  border-bottom:2px solid #eeeeee;

}
.title{
  display:inline-block;
  width:200px;
  float:left;
  font-weight: bold;
}
.detail{
  width: 500px;
  display:inline-block;
}
.access{

}
.access h3{
  text-align:center;
  margin-top:50px;
}
.access-detail{
  width:50%;
  margin: 0 auto;
}
.ggmap{
  text-align: center;
  width:100%;
  height:100%;
  margin: 0 auto;
}
.map-detail{
  margin:20px;
  background-color: yellow;
}
.map-detail p{
  float:left;
}
.map-detail a{
  float:right;
  margin-top:15px;
  text-decoration: none;
}


@media(max-width:670px){
  .president-detail{
    display: flex;
    flex-wrap: wrap;
    height:100%;
  }

  .box-1x1{
    flex:auto;
    width:100%;
  }
  .president-detail img{
    width: 50%;
    margin: 0 auto;
    height:auto;
  }
  .president-message{
    width:100%;
  }
  .company-detail{
    display: block;
    flex:auto;
    width:100%;
  }
