
.news-wrapper{
  width:100%;
  height:950px;
  padding-top: 120px;

}
.container{
  width:70%;
  height:950px;
  margin:0 auto;
}
.container h2{
  text-align:center;
  margin-top:30px;
}
.news-types{
  text-align:center;
}
.news-types a{
  display:inline-block;
}
.news-types p{
  display:inline-block;
}
.news-list {
  margin-bottom: 30px;
}
.news-list a{
  display: block;
  padding:15px 0 15px 0;
  text-decoration: none;
  border-bottom: 2px solid #eeeeee;
}
.more{
  float:right;
  padding:10px 30px;
  text-decoration: none;
  border: 2px solid #eeeeee;
  border-radius: 7px;
}

@media(max-width:670px){
  .css-br::after {
    content: "\A" ;
    white-space: pre;
}
