
.recruit-wrapper{
  width:100%;
  height:1800px;
  padding-top: 120px;

}
.container{
  width:70%;
  height:1800px;
  margin:0 auto;
}
.container h2{
  text-align:center;
  margin-top:30px;
}
.occupations{

}
.occupations h3{
  text-align:center;
  margin-top:30px;
}
.occupation{
  display: flex;
  flex-wrap: wrap;
}
.occupation-detail{
  display: inline-block;
  flex:auto;
  width: 45%;
  border:1px solid #eeeeee;
  padding:10px;
  margin:5px;
}
.occupation-title{
  font-weight: bold;
}
.occupation-body{

}
.occupation-detail a{
  text-decoration: none;
  float:right;
}
.environment{

}
.environment h3{
  text-align:center;
  margin-top:50px;
}
.environment-detail{
  display: flex;
  flex-wrap: wrap;
}
.environment-detail img{
  display: inline-block;
  flex:auto;
  width: 30%;
  margin:5px;
}

.welfares{

}
.welfares h3{
  text-align:center;
  margin-top:50px;
}
.welfare{
  display: flex;
  flex-wrap: wrap;
}
.welfare-single{
  display: inline-block;
  flex:auto;
  width: 45%;
}

.welfare-single img{
  width: 25%;
  margin:5px;
}
.welfare-detail{
  float: right;
  width: 70%;
  padding:5px;
  background-color: red;
}
.welfare-title{

}
.welfare-body{

}

@media(max-width:670px){
  .recruit-wrapper{
    height:4400px;
  }
  .occupation-detail{
    flex:auto;
    width: 100%;
  }
  .environment-detail img{
    flex:auto;
    width: 100%;
  }
  .welfare-single{
    flex:auto;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
  }

  .welfare-single img{
    width: 50%;
    flex:auto;
    width: 50%;
  }
  .welfare-detail{
    flex:auto;
    width: 100%;
  }
}
